.overlay {
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: $color-primaryBackground;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bgd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  display: flex;
  flex-direction: column;

  &__title {
    display: block;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-white;
    max-width: 696px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  &__btn {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
}
